
/* page not fount */

#pnf{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-card{
  position: relative;
  cursor: pointer;
}

.music-card .card-hover{
  position: absolute;
}